<div id="cash">
    <cash-table inline-template :club-id="{{ club.id }}">
        <div>
            <h2 v-if="cash">Total cash: <strong>{% templatetag openvariable %} cash.currency {% templatetag closevariable %} {% templatetag openvariable %} format(cash.total) {% templatetag closevariable %}</strong></h2>

            <table class="table table-hover">
                <tr>
                    <th></th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>When</th>
                </tr>

                <template v-for="transaction in transactions">
                    <tr class="danger" v-if="transaction.amount < 0">
                        <td>
                            <i class="glyphicon glyphicon-arrow-down"></i>
                        </td>
                        <td>
                            {% templatetag openvariable %} cash.currency {% templatetag closevariable %} {% templatetag openvariable %} format(negative(transaction.amount)) {% templatetag closevariable %}
                        </td>
                        <td>
                            {% templatetag openvariable %} transaction.description {% templatetag closevariable %}
                        </td>
                        <td>
                            <span :title="transaction.date">{% templatetag openvariable %} humanDate(transaction.date) {% templatetag closevariable %}</span>
                        </td>
                    </tr>
                    <tr v-if="transaction.amount == 0">
                        <td>
                            <i class="glyphicon glyphicon-minus"></i>
                        </td>
                        <td>
                            {% templatetag openvariable %} cash.currency {% templatetag closevariable %} {% templatetag openvariable %} format(0) {% templatetag closevariable %}
                        </td>
                        <td>
                            {% templatetag openvariable %} transaction.description {% templatetag closevariable %}
                        </td>
                        <td>
                            <span :title="transaction.date">{% templatetag openvariable %} humanDate(transaction.date) {% templatetag closevariable %}</span>
                        </td>
                    </tr>
                    <tr class="success" v-if="transaction.amount > 0">
                        <td>
                            <i class="glyphicon glyphicon-arrow-up"></i>
                        </td>
                        <td>
                            {% templatetag openvariable %} cash.currency {% templatetag closevariable %} {% templatetag openvariable %} format(transaction.amount) {% templatetag closevariable %}
                        </td>
                        <td>
                            {% templatetag openvariable %} transaction.description {% templatetag closevariable %}
                        </td>
                        <td>
                            <span :title="transaction.date">{% templatetag openvariable %} humanDate(transaction.date) {% templatetag closevariable %}</span>
                        </td>
                    </tr>
                </template>
            </table>
        </div>
    </cash-table>
</div>
