<ul class="nav nav-pills nav-stacked" role="tablist">
    <li role="presentation"{% if active == 'news' %} class="active"{% endif %}>
        <a href="{% url 'clubs:club.news' slug=request.resolver_match.kwargs.slug %}" >
            <i class="glyphicon glyphicon-bullhorn"></i> News
        </a>
    </li>
    <li role="presentation"{% if active == 'events' %} class="active"{% endif %}>
        <a href="{% url 'clubs:club.events' slug=request.resolver_match.kwargs.slug %}" >
            <i class="glyphicon glyphicon-calendar"></i> Events
        </a>
    </li>
    <li role="presentation"{% if active == 'members' %} class="active"{% endif %}>
        <a href="{% url 'clubs:club.members' slug=request.resolver_match.kwargs.slug %}">
            <i class=" glyphicon glyphicon-user"></i> Members
        </a>
    </li>
    {% if is_admin %}
        <li role="presentation"{% if active == 'cash' %} class="active"{% endif %}>
            <a href="{% url 'clubs:club.cash' slug=request.resolver_match.kwargs.slug %}">
                <i class="glyphicon glyphicon-piggy-bank"></i> Cash
            </a>
        </li>
        <li role="presentation"{% if active == 'settings' %} class="active"{% endif %}>
            <a href="{% url 'clubs:club.settings' slug=request.resolver_match.kwargs.slug %}">
                <i class="glyphicon glyphicon-cog"></i> Settings
            </a>
        </li>
    {% endif %}
</ul>