{% extends 'core/backend.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'core/css/account.css' %}">
{% endblock %}

{% block body %}
    {{ block.super }}
    <div class="container" id="account-app">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% spaceless %}
                            <div class="panel-heading-half panel-heading-half--left">
                                <h3 class="panel-title">Clubs you're a member of</h3>
                            </div>
                            <div class="panel-heading-half panel-heading-half--right">
                                <button class="btn btn-default" data-toggle="modal" data-target="#new-club-modal">Add Club</button>
                            </div>
                        {% endspaceless %}
                    </div>
                    <div class="panel-body">
                        <ul v-if="clubs.length > 0">
                            <li v-for="club in clubs">
                                {% templatetag openvariable %} club.name {% templatetag closevariable %}
                                <em>{% templatetag openvariable %} club.slug {% templatetag closevariable %}</em>
                            </li>
                        </ul>
                        <em v-if="clubs.length === 0">You don't have any clubs yet.</em>
                    </div>
                </div>
            </div>
        </div>

        {% include 'core/partials/modals/new-club.html' %}
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super}}
    <script src="{% static 'core/js/common.js' %}"></script>
    <script src="{% static 'core/js/account.js' %}"></script>
{% endblock %}