<delete-club-modal inline-template class="modal fade" tabindex="-1" role="dialog" id="delete-club-modal"
                   :club="clubToDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Club</h4>
            </div>
            <div class="modal-body">
                <p>
                    Really delete the club <strong>{% verbatim %}{{ name }}{% endverbatim %}</strong>? It will be gone
                    forever!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" @click="deleteClub">Delete Club</button>
            </div>
        </div>
    </div>
</delete-club-modal>