{% extends 'core/backend.html' %}
{% load widget_tweaks %}

{% block body %}
    {{ block.super }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <form action="{% url 'login' %}" method="post">
                    {% include 'core/partials/form.html' with form=form %}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default btn-block">Log in</button>
                </form>

                <a href="{% url 'register' %}">Register new account.</a>
            </div>
        </div>
    </div>
{% endblock %}