{% extends 'core/base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="container" id="club-app">
        <h1>{{ club.name }}</h1>

        <div class="row">
            <div class="col-lg-3">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#news" aria-controls="news" role="tab" data-toggle="tab">
                            <i class="glyphicon glyphicon-bullhorn"></i> News
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#events" aria-controls="events" role="tab" data-toggle="tab">
                            <i class="glyphicon glyphicon-calendar"></i> Events
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#members" aria-controls="members" role="tab" data-toggle="tab">
                            <i class=" glyphicon glyphicon-user"></i> Members
                        </a>
                    </li>
                    {% if is_admin %}
                        <li role="presentation">
                            <a href="#cash" aria-controls="cash" role="tab" data-toggle="tab">
                                <i class="glyphicon glyphicon-piggy-bank"></i> Cash
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                                <i class="glyphicon glyphicon-cog"></i> Settings
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="news">
                        {% if news %}
                            <h2>News</h2>

                            {% for news_item in club.news.all %}
                                <div class="news">News!</div>
                            {% endfor %}
                        {% else %}
                            <h2><em>No News</em></h2>
                        {% endif %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="events">
                        {% if events %}
                            <h2>Upcoming Events:</h2>

                            <ul>
                                {% for event in club.events.all %}
                                    <li><strong>{{ event.date }}:</strong> {{ event.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h2><em>No Events</em></h2>
                        {% endif %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="members">
                        {% if club.memberships.all %}
                            <h2>Members:</h2>

                            <ul>
                                {% for member in club.memberships.all %}
                                    <li>{{ member.user.email }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h2><em>No Members</em></h2>
                        {% endif %}
                    </div>
                    {% if is_admin %}
                        <div role="tabpanel" class="tab-pane" id="cash">
                            <cash-table inline-template :club-id="{{ club.id }}">
                                <div>
                                    {% verbatim %}
                                        <h2 v-if="cash">Total cash: <strong>{{ cash.currency }} {{ format(cash.total) }}</strong></h2>
                                    {% endverbatim %}

                                    <table class="table table-hover">
                                        <tr>
                                            <th></th>
                                            <th>Amount</th>
                                            <th>Description</th>
                                            <th>When</th>
                                        </tr>

                                        <template v-for="transaction in transactions">
                                            {% verbatim %}
                                                <tr class="danger" v-if="transaction.amount < 0">
                                                    <td>
                                                        <i class="glyphicon glyphicon-arrow-down"></i>
                                                    </td>
                                                    <td>
                                                        {{ cash.currency }} {{ format(negative(transaction.amount)) }}
                                                    </td>
                                                    <td>
                                                        {{ transaction.description }}
                                                    </td>
                                                    <td>
                                                        <span :title="transaction.date">{{ humanDate(transaction.date) }}</span>
                                                    </td>
                                                </tr>
                                                <tr v-if="transaction.amount == 0">
                                                    <td>
                                                        <i class="glyphicon glyphicon-minus"></i>
                                                    </td>
                                                    <td>
                                                        {{ cash.currency }} {{ format(0) }}
                                                    </td>
                                                    <td>
                                                        {{ transaction.description }}
                                                    </td>
                                                    <td>
                                                        <span :title="transaction.date">{{ humanDate(transaction.date) }}</span>
                                                    </td>
                                                </tr>
                                                <tr class="success" v-if="transaction.amount > 0">
                                                    <td>
                                                        <i class="glyphicon glyphicon-arrow-up"></i>
                                                    </td>
                                                    <td>
                                                        {{ cash.currency }} {{ format(transaction.amount) }}
                                                    </td>
                                                    <td>
                                                        {{ transaction.description }}
                                                    </td>
                                                    <td>
                                                        <span :title="transaction.date">{{ humanDate(transaction.date) }}</span>
                                                    </td>
                                                </tr>
                                            {% endverbatim %}
                                        </template>
                                    </table>
                                </div>
                            </cash-table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="settings">
                            Settings!
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="{% static 'clubs/js/cash.js' %}"></script>
{% endblock %}