{% extends 'core/base.html' %}

{% block body %}
    <div class="container">
        <h1>{{ club.name }}</h1>

        <div class="row">
            <div class="col-lg-3">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#news" aria-controls="news" role="tab" data-toggle="tab">News</a>
                    </li>
                    <li role="presentation">
                        <a href="#events" aria-controls="events" role="tab" data-toggle="tab">Events</a>
                    </li>
                    <li role="presentation">
                        <a href="#members" aria-controls="members" role="tab" data-toggle="tab">Members</a>
                    </li>
                    {% if is_admin %}
                        <li role="presentation">
                            <a href="#cash" aria-controls="cash" role="tab" data-toggle="tab">Cash</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="news">
                        {% if news %}
                            <h2>News</h2>

                            {% for news_item in news %}
                                <div class="news">News!</div>
                            {% endfor %}
                        {% else %}
                            <h2><em>No News</em></h2>
                        {% endif %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="events">
                        {% if events %}
                            <h2>Upcoming Events:</h2>

                            <ul>
                                {% for event in events %}
                                    <li><strong>{{ event.date }}:</strong> {{ event.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h2><em>No Events</em></h2>
                        {% endif %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="members">
                        {% if members %}
                            <h2>Members:</h2>

                            <ul>
                                {% for member in members %}
                                    <li>{{ member.user.email }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h2><em>No Members</em></h2>
                        {% endif %}
                    </div>
                    {% if is_admin %}
                        <div role="tabpanel" class="tab-pane" id="cash">
                            <h2>Total cash: <em>{{ club.cash.currency }} {{ club.cash.total|floatformat:2 }}</em></h2>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}