{% extends 'core/base.html' %}

{% block body %}
    <div class="container" id="club-app">
        <h1>{{ club.name }}</h1>

        <div class="row">
            <div class="col-lg-3">
                {% block navigation %}
                    {% include 'clubs/partials/navigation.html' with active=None %}
                {% endblock %}
            </div>
            <div class="col-lg-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        {% include 'clubs/partials/modals/delete-club.html' %}
    </div>
{% endblock %}