.panel-heading-half {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.panel-heading-half--left {
    text-align: left;
}

.panel-heading-half--right {
    text-align: right;
}